body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    padding: 30px;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

#mensagem {
    font-weight: bold;
    margin-top: 20px;
}
